.tgoogle-b{
  color: #4285F4
}

.bgoogle-b{
  background-color: #4285F4
}

.tgoogle-r{
  color: #DB4437;
}

.bgoogle-r{
  background-color: #DB4437;
}

.tgoogle-y{
  color: #F4B400;
}

.bgoogle-y{
  background-color: #F4B400;
}

.tgoogle-g{
  color: #0F9D58;
}

.bgoogle-g{
  background-color: #0F9D58;
}
